# Ignore Docker environment variables file for security
server/docker/.env

# Ignore IDE configs
client/Java-Console/.idea
server/cpp/src/.idea
.vscode

# Ignore basically everything in C++ server src folder that isn't the main file or worldgen
server/cpp/src/bcrypt.h
server/cpp/src/bcrypt.cpp
server/cpp/src/blowfish.cpp
server/cpp/src/jwt-cpp
server/cpp/src/picojson

# React stuff
web/react-site/node_modules
web/react-site/logs
web/react-site/*.log
web/react-site/npm-debug.log*
web/react-site/yarn-debug.log*
web/react-site/yarn-error.log*
web/react-site/pnpm-debug.log*
web/react-site/lerna-debug.log*
web/react-site/dist
web/react-site/dist-ssr
web/react-site/*.local