@use '../variables' as *;

form {
    margin: auto;
    text-align: center;
}

form label, form input, form button {
    font-family: monospace;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

form input {
    background-color: $bg-primary;
    padding: 4px;
}

form h2 {
    margin-bottom: 0.5rem;
}

form button {
    $bt: 4px;

    padding: 4px 1rem;
    cursor: pointer;
    border-radius: 0;
    border: 1px $text outset;
    border-bottom: $bt outset $text;
    border-right: $bt outset $text;
    width: clamp(10rem, 20rem, 30vw);
    background-color: $bg-secondary;
}

form button:hover {
    background-color: $bg-primary;
}

form a {
    cursor: pointer;
    font-size: 1rem;
}

.loading {
    color: $pending;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.loading::after {
    content: ' ';
    animation: checkingserver 1.5s infinite;
}

@keyframes checkingserver {
    0% { content: ' '; }
    25% { content: '.'; }
    50% { content: '..'; }
    75% { content: '...'; }
}

.error {
    color: $failure;
}

.play-stage {
    background-color: black;
    width: 97%;
    height: 40rem;
    font-family: monospace;
    color: white;
    padding: 0.5rem;
    margin-inline: auto;
}

.play-stage * {
    color: white;
}