@use 'variables' as *;

@font-face {
    font-family: dos;
    src: url(./assets/fonts/Good\ Old\ DOS.ttf);
}

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
}

html {
    $s: 1rem;
    $c: $bg-primary 0 25%, $bg-secondary 0 50%, #0000 0;

    background-image:
        conic-gradient(from 180deg, $c),
        repeating-conic-gradient(from 90deg, $c);
    background-position: 0 0;
    background-size: $s $s, (3 * $s) (3 * $s);
}

html,
body {
    margin: auto;
    width: 90%;
}

h1, h2, h3, p {
    color: $text;
    font-family: dos;
}

main {
    margin-top: 1.5rem;
    background-color: $tertiary;
    border-radius: $border-radius;
    border: $border;
    box-shadow: $shadow;
    padding: 1rem 2rem;
}

main h1 {
    margin-bottom: 1rem;
    font-size: 2.75rem;
    text-align: center;
}

main h2 {
    margin-top: 1rem;
}

main p {
    font-family: monospace;
    font-size: 1.2rem;
}

a {
    font-family: monospace;
    color: $secondary;
    text-decoration: none;
}

a:hover {
    color: $primary;
}

.font-only {
    font-family: dos;
}

.centered {
    text-align: center;
}